<template name="nav">
      <div id="cube-container">
        <div id="cube">
          <div class="face one">
          </div>

          <div class="face two">
              <ul class="desk-nav-list cl-effect-18">
                <li class="desk-nav nav-link"><a href="#">Home</a></li>
                <li class="nav about-link nav-link"><a class="about" href="#">About</a></li>
                <li class="desk-nav nav-link"><a href="#" class="locator">Locate</a></li>
                <li class="desk-nav"><a href="#">Pins</a></li>
                <!-- {{#if currentUser}} -->
                <li class="login"> {{> loginButtons}} </li>
                <!-- {{/if}} -->
              </ul>
          </div>
          <div class="face three">
          </div>

          <div class="face four">
              <ul class="desk-nav-list flip cl-effect-18">
                  <li class="desk-nav"><a href="#">Home</a></li>
                  <li class="nav about-link"><a class="about" href="#">About</a></li>
                  <li class="desk-nav"><a href="#" class="locator">Locate</a></li>
                  <li class="desk-nav"><a href="#">Pins</a></li>
                <!-- {{#if currentUser}} -->
                  <li class="login"> {{> loginButtons}} </li>
                <!-- {{/if}} -->
              </ul>
          </div>

          <div class="face five">
          </div>

          <div class="face six">
            <h1 class="logo">Meteorite Exploratory Commitee</h1>
            <ul class="logo-line">
            </ul>
          </div>
        </div>
      </div>
</template>
