/*Import Fonts*/
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);

/*Begin 3d Nav*/
@-webkit-keyframes bobble {
    0% {
        top: 0;
    }
    50% {
        top: 2px;
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes bobble {
    0% {
        top: 0;
    }
    50% {
        top: 2px;
    }
    100% {
        top: 0;
    }
}

#cube-container {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective: 1000px;
    -moz-perspective-origin: 50% 50%;
    display: none;
    z-index: 51;
    -webkit-box-shadow: 0 4px 4px -2px #000000;
    -moz-box-shadow: 0 4px 4px -2px #000000;
    box-shadow: 0 4px 4px -2px #000000;
}

#cube {
    position: relative;
    margin: 0 auto;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    top: 0;
    transition: 1s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateY(0deg);
    -moz-transform: rotateX(0deg);
}

.face {
    position: fixed;
    height: 100px;
    width: 180px;
    margin: 0;
    padding: 0;
    background-color: #FED165;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

#cube .one  {
    -webkit-transform: rotateX(90deg) translateZ(50px);
    -moz-transform: rotateX(90deg) translateZ(50px);
    width: 100%;
    height: 100px;
    background: black;
}

#cube .two {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    width: 100%;
    padding: 0;
}

#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(1230px);
  -moz-transform: rotateY(90deg) translateZ(1230px);
    width: 100px;
}

#cube .four {
  -webkit-transform: rotateY(-180deg) translateZ(40px);
  -moz-transform: rotateY(-180deg) translateZ(40px);
    width: 100%;
    padding: 0;
    text-align: center;
    -webkit-outline: 1px solid transparent;
}

#cube .five {
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    -moz-transform: rotateY(-90deg) translateZ(50px);
    width: 100px;
}

#cube .six {
    -webkit-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
    -moz-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, .3);
    overflow: hidden;
    padding: 0;
    background-color: #88B0A1;
    background-image: url('images/tw_banner_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}


.four>ul {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.login {
  float: right;
}

.logo {
    position: relative;
    display: inline;
    left: 40px;
    height: 100;
    float: left;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.logo.back{
    position: relative;
    display: inline;
    left: -40px;
    height: 100;
    top: 0px;
    float: right;
    -webkit-transform: rotate(180deg);
    -webkit-transition: 1s;
    -moz-transform: rotate(180deg);
    -moz-transition: 1s;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
}

.nav-list {
    position: relative;
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav-list li {
    margin-bottom: 10px;
}
.nav-list li a {
    text-decoration: none;
}

li a{
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
  -webkit-transition: .5s;
  -moz-transition: .5s;
}

.desk-nav-list{
    display: block;
}

.logo {
  font-family: 'Pinyon Script', cursive;
  font-size: 40px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  text-align: center;
}
